.container {
  min-height: 100vh;
  display: flex;
}

.ticketWraper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;

  .ticketCnt {
    
    flex: 10%;
    &[data-value='Booked'] {
      pointer-events:none;
    }

    &[data-value='Booked']:hover {
      cursor: not-allowed;
    }
    span {
      text-align: center;
      display: block;
      height: 40px;
      width: 40px;
      margin: 10px;
      padding-top: 9px;
      border-radius: 4px;

      &[data-status='Booked'] {
        background-color: gray;
      }

      &[data-status='Available'] {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
    input[type='checkbox']:checked + span {
      background-color: green;
      border: 1px solid green;
      color: white;
    }
  }
}

.sidemenuWrp {
  min-width: 400px;
  padding: 20px;

  h2,
  h4 {
    margin-bottom: 10px;
  }

  .sdmnprcnt {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
  }
}
